body {  
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 50px;
  margin-left: 50px;
  background-image: url("background.jpg");
  background-size:cover;
}
