body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5vh 10vh;
    color: #363636;
    background-color: rgb(252, 252, 252);
}

.container {
    max-width: 65vw;
}

nav {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > a {
    color: grey;
    text-decoration: none;
    font-weight: 300;
}

nav > a:hover {
    background-color: lightgrey;
}

h1 {
    font-size: 60px;
    font-family: 'alata';
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 1px;
    margin-bottom: 35px;
}

p {
    line-height: 1.6;
}

.photo {
    max-width: 100%;
    height: auto;
}